---
import Hero from "../components/hero.astro";
import About from "../components/about.astro";
import Examples from "../components/examples.astro";
import Plans from "../components/plans.astro";
import Contact from "../components/contact.astro";
---
<main>
  <Hero />
  <About />
  <Examples />
  <Plans />
  <Contact />
</main> 
